/*PureCss and/or Skeleton? for version 3*/
/*
BLUE: #4285f4
*/
.center{
	text-align:center
}
.right{
	text-align: right
}
.left{
	text-align: left
}
.container{
	padding-left:0px !important;
	padding-right:0px !important;
}
.container1{
	padding:2em;
}
.thumbnail a:hover{
	text-decoration:none;
}
.bg-light {
	background-color: #f8f9fa !important;
}
/*
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	background-color:#4285f4;
}*/
.navbar-inverse .navbar-nav>li>a{
	color:black !important;
	-webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}/*
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.active>a{
	background-color:black !important;
	color:#4285f4 !important;
}
*/
.navbar{
	border-radius:0px !important;
	background-color:#4285f4 !important;
}
.navigation-ul{
	margin-left:20% !important;
}
.thumbnail{
	border:none !important;
}
.bleh{
	padding:3%;
	border-width:2px;
	border-color:black !important;
	background-color:white !important;
}
.jleft{
	text-align:center;
}
.jleft h1, .jleft h2{
	font-size:2.8em !important;
}
.nav-stacked>li+li {
     margin-top: 0px !important;
}
.Me{
	border-radius:100%;
	border: 5px solid #4285f4;
	max-width:70%;
	margin-bottom:2em;
}
.experiences fieldset{
	border-width:0px; 
}
.experiences legend{
	text-align:center;
	color:white;
	letter-spacing:2px;
	font-size:1.5em;
}
.services fieldset{
	border-width:0px; 
	margin:0 auto;
	width:95%;
}
.services legend{
	text-align:center;
	color:black;
	letter-spacing:2px;
	font-size:1.5em;
	/*background-color:black*/
}
.about fieldset{
	border-width:0px; 
	margin:0 auto;
	width:95%;
}
.about legend{
	text-align:center;
	color:black;
	letter-spacing:2px;
	font-size:1.5em;
	/*background-color:black*/
}
.footer{
	background-color:#4285f4 !important;
}
.welcome{
	padding-bottom:4em
}
.actually-do{
	background-color: rgba(9, 64, 155, 0.65);
}
.actually-do .container-fluid{
	padding:5em
}
.panel-title{
	text-align:center;
	text-transform: uppercase;
}
.panel-default{
	background-color:#4285f4 !important;
}
.panel a:hover{
	text-decoration: none
}

/*HEADER*/
.affix {
      top: 0;
      width: 100%;
  }
.affix + .container {
      padding-top: 70px;
  }
.row{
	margin-right:0px !important;
	margin-left:0px !important;
}
header legend{
	color:black;
	font-size:1em;
	text-align:center;
	border-bottom-color:white !important;
}
hr{
	width:7em; 
	height:1.5px; 
	background-color:black;
}
.services hr{
	width:100%; 
	height:2px; 
	background-color:black;
}
.initials{
	text-align:center; 
	border: 2px solid black; 
	padding:0; 
	margin:0; 
	width:1.5em; 
	float:left;
	font-size:1.7em;
	margin-left:95%;
	text-decoration:none; 
	color:black;
	-webkit-transition:background-color 0.75s;
	transition: background-color 0.75s;
}
.initials:hover{
	background-color:#4285f4 !important;
	color:white !important;
	text-decoration:none;
}
.intro{
	margin:0 auto;
	width:55%; 
	font-size:1.2em; 
	text-align:center
}
nav{
	position:absolute;
	z-index:5;
	font-weight:bold;
}
.link2{
	margin-top:50px;
}
.link1 a, .link2 a{
	text-decoration:none; 
	background-color:black; 
	color:white; 
	font-weight:bold; 
	padding:1.5%;
	font-size:0.9em;
	-webkit-transition:font-size 0.5s;
	transition: font-size 0.5s;	
	border-radius:10px;
}
.link1 a:hover, .link2 a:hover{
	background-color:grey; 
	color:black; 
	font-size:1em;
	text-decoration:none;
}

/*EXPERIENCES SECTION*/
.experiences{
	margin:2.5% 0px 0px 0px;
	background-color:#3f3f3f;
	width:100%;
	color:white;
}
.exp-wrapper{
	margin:0 auto;
	width:90%;
}
.download{
	float:left;
	width:50%;
	text-align:center;
	margin-top:12%;	
}
.download a{
	text-decoration:none; 
	background-color:black; 
	color:white; 
	font-size:2em;
	font-weight:bold; 
	padding:2.5%;
	-webkit-transition:font-size 0.5s;
	transition: font-size 0.5s;
	border-radius:10px;
}
.download a:hover{
	background-color:grey; 
	color:black; 
	font-size:2.1em;
}
.career-history, .skills, .education{
	background-color:#4285f4;
	border-radius:8px;
	margin-top:5px;
	margin-bottom:5px;
	color:black;
	box-shadow: 5px 5px 5px;

}
.exp-wrapper h1{
	margin-top:0px;
	padding:5px;
	text-align:center; 
	background-color:black;
	color:white;
}
.chText{
	padding-right:7px;
}

/*CONTACT ME SECTION*/
.contact {
	padding: 2em;
}
.class h1{
	text-align:center !important;
}
input[type=text], input[type=email], textarea[name=Message] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color:#4285f4;
    color: black;
	font-weight:bold !important;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #2169af;
}

/*SERVICES SECTION*/
.services{
	margin:0px;
	width:100%;
	padding-top:1.5%
}
.step-desc{
	background-color:#fefefe;
	padding:4em;
	border-radius:2em;
	color:#2169af
}
.step-num{
	padding-top:5em
}
.service-button{
	background-color:rgba(0,0,0,.85);
	color:white;
}
.service-button:hover{
	background-color:white;
	color:black;
}

/*ABOUT SECTION*/
.about{
	margin:0px;
	width:100%;
	padding-top:1.5%
}

/*PROJECTS SECTION*/
.projects {
	padding: 2em;
}
.image-border {
	border: black 2px solid;
}

.container0, .container1, .container2, .container3, .container4 {
  position: relative;
  width: 80%;
  padding:0px !important;
  margin-bottom:8px;
}
.image {
  display: block;
  width: 100%;
  height:250px !important;
  box-shadow: 5px 5px 5px gray;
}
.container0:hover .overlay, .container1:hover .overlay, .container2:hover .overlay, .container3:hover .overlay, .container4:hover .overlay {
  opacity: 1;
}

.responsive {
    margin: 1.5%;
    float: left;
    width: 24.99999%;
}
/*MEDIA QUERIES*/
@media (min-width: 1200px){
	.container {
		width: 100%  !important;
	}
}
@media (min-width: 992px){
	.container {
		width: 100% !important;
	}
}
@media (min-width: 768px){
	/* .container {
		width: 100% !important;
	} */
	
}
@media only screen and (max-width: 1200px){
    .responsive {
        width: 45%;
        margin: 10px;
    }
    .text{
    font-size: 18px;
    }
	.bottom{
	float:left;
	width:100%;
	margin-left:0px;
	margin-top:8px;
	}
}

@media only screen and (max-width: 1000px){
	.link2{
		margin-top:25px;
		margin-bottom:25px;
	}
	.bottom{
	float:left;
	width:100%;
	margin-left:0px;
	margin-top:8px;
	}
	.footer .navbar-nav{
		margin:0px !important;
	}
	.Me{
		width:50%;
	}
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 65%;
        margin: 6px;
    }
    .text{
    font-size: 18px;
    }
	.experiences{
		font-size:0.8em;
		padding-bottom:20px;
	}
	
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
		margin-left:0px;
    }
    .text{
		font-size: 15px;
    }
	.image{
		height:200px;
	}
	.intro{
		font-size:1em;
		width:100%;
	}
	.experiences{
		font-size:0.8em;
		padding-bottom:20px;
	}
	.link2{
		margin-top:0px;
		margin-bottom:0px;
	}
	.jleft h1, .jleft h2{
		font-size:1.2em !important;
	}
	.navigation-ul{
		margin-left: 0 !important;
		text-align:center
	}
}