{% extends 'index.htm' %}
{% block title %}Contact Me{% endblock %}

{% block content %}
<div id="contact" class="tab-pane fade in">
	<div class="contact">
		<fieldset>
			<legend><h1 style="font-size:220%">CONTACT ME</h1></legend>
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-6">
							<form method="POST" action="https://formspree.io/lee.codya@gmail.com" target="_blank">
								<input type="hidden" name="_subject" value="Contact Form submission!" />
								<input type="email" name="_replyto" placeholder="Email" required><br>
								<input type="text" name="Name" placeholder="Name" required><br>
								<input type="text" name="Number" placeholder="Your number" required><br>
								<textarea name="Message" placeholder="Message" style="height:100px;" required></textarea><br>
								<input type="submit" value="Submit">
							</form>
						</div>
						<div class="col-md-3"></div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>
{% endblock %}