{% extends 'index.htm' %}
{% block title %}Portfolio{% endblock %}

{% block content %}
<div id="home" class="tab-pane fade in active">
	<div class="container">
		<div class="row welcome">
			<div class="col-sm-2"></div>
			<div class="col-sm-5">
				<h2 class="center"><strong><u>Welcome!</u></strong></h2>
				<h3>My name is Cody and I am a freelance web developer who builds amazing, user-friendly websites and web apps. My sites are custom written from the scratch with clean syntax and SEO optimized configuration.</h3>
				<h3>As a freelance web designer, I put thought and heart into every web development project. I love designing websites that stand out from the rest.</h3>
				<h3>Not only that, but a web design that matches the brand, personality and needs of my client.</h3>
			</div>
			<div class="col-sm-3">				
				<img src="{{ url_for('static', filename='webImage1.jpg') }}" alt="Website Image" clas="img-responsive" style="margin-top:7em; width:100%; border:0.5em solid #4285f4; border-radius:1.5em">
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="actually-do">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-4 col-md-push-6" style="text-align:left;color:#fff">
						<h2 style="text-decoration: underline">What Do I Actually Do?</h2>
						<h3>As a web developer, I can do more than just develop a website for you and your business. I take the time to understand your needs and build a strategy and plan on how to optimize your web presence. Some of those strategies are as follows:	</h3>
					</div>
					<div class="col-md-6 col-md-pull-4">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<!--Design-->
							<div class="panel panel-default">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="color:white" aria-expanded="true" aria-controls="collapse1">
									<div class="panel-heading">
										<h3 class="panel-title">Designer</h3>
									</div>
								</a>
								<div id="collapse1" class="panel-collapse collapse in" style="border-top:1px solid white" role="tabpanel">
									<div class="panel-body row" style="color:white">
										<ul class="col-md-6">
											<li><h4>Custom Web Design</h4></li>
											<li><h4>Adobe Photoshop</h4></li>
											<li><h4>User Interface (UI) Design</h4></li>
											<li><h4>User Experience (UX) Design</h4></li>
										</ul>
										<ul class="col-md-6">
											<li><h4>Logo Design</h4></li>
											<li><h4>Website Design for Smartphones</h4></li>
											<li><h4>Interactive Graphics & Illustrations for the Web</h4></li>
											<li><h4>Aesthetically Pleasing Typography</h4></li>
										</ul>
									</div>
								</div>
							</div>
							<!--Developer-->
							<div class="panel panel-default">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="color:white" aria-expanded="true" aria-controls="collapse2">
										<div class="panel-heading">
										<h3 class="panel-title">Developer</h3>
									</div>
								</a>
								<div id="collapse2" class="panel-collapse collapse" role="tabpanel" style="border-top:1px solid white">
									<div class="panel-body row" style="color:white">
										<ul class="col-md-6">
											<li><h4>Responsive</h4></li>
											<li><h4>Mobile Optimized Websites</h4></li>
											<li><h4>Interactive Frontend Development</h4></li>
											<li><h4>Single-Page Application (SPA) with AngularJS</h4></li>
										</ul>
										<ul class="col-md-6">
											<li><h4>HTML5, CSS, JavaScript, Bootstrap for Responsive Design</h4></li>
											<li><h4>WordPress (Themes plus Plugins Dev)</h4></li>
											<li><h4>Source Code Management with GitHub</h4></li>
										</ul>
									</div>
								</div>
							</div>
							<!--Marketer-->
							<!-- <div class="panel panel-default">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="color:white">
										<div class="panel-heading">
										<h3 class="panel-title">Marketing</h3>
									</div>
								</a>
								<div id="collapse3" class="panel-collapse collapse" style="border-top:1px solid white">
										<div class="panel-body row" style="color:white">
										<ul class="col-md-6">
											<li><h4>Content-based Digital Marketing Strategies</h4></li>
											<li><h4>Keyword Research & Analysis</h4></li>
											<li><h4>On-Page SEO, Code Optimization</h4></li>
											<li><h4>AdWords, PPC & Paid Search Marketing</h4></li>
										</ul>
										<ul class="col-md-6">
											<li><h4>Creation of High Quality Content</h4></li>
											<li><h4>Off-Page SEO, Quality Link-Building</h4></li>
											<li><h4>Social Media Marketing</h4></li>
										</ul>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3"></div>
			<div class="link1 col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<a href="files/Web_Developer_Resume4.docx" download>Download My Current Resume Here</a>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3"></div>
		</div>
	</div> -->
	
	<!--Projects Section-->
	<div class="projects">		
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-12">
					<h1><u>Projects</u></h1>
					<!-- <h2>Separate Projects</h2> -->
				</div>
			</div>
			<div class="row">
				<figure class="figure col-sm-4">
					<a href="https://leecodya.github.io/MJs" target="_blank">
						<figcaption class="figure-caption text-center"><h3><b>MJs Simple Moving</b></h3></figcaption>
						<img src="{{ url_for('static', filename='MJs.JPG') }}" alt="MJs" class="img-responsive img-rounded image-border">
					</a>
				</figure>
				<figure class="figure col-sm-4">
					<a href="https://baileys-site.herokuapp.com/" target="_blank">
						<figcaption class="figure-caption text-center"><h3><b>Bailey's</b></h3></figcaption>
						<img src="{{ url_for('static', filename='baileys-site.PNG') }}" alt="Baileys" class="img-responsive img-rounded image-border">
					</a>
				</figure>
				<figure class="figure col-sm-4">
					<a href="http://leecodya.github.io/Theus" target="_blank">
						<figcaption class="figure-caption text-center"><h3><b>Theus Floor Covering</b></h3></figcaption>
						<img src="{{ url_for('static', filename='Theus-Floor-Covering.JPG') }}" alt="Theus Floor Covering" class="img-responsive img-rounded image-border">
					</a>
				</figure>
			</div><!--end row-->
			<div class="row">
				<figure class="figure col-sm-4">
					<a href="https://rowland-hills.herokuapp.com/" target="_blank">
						<figcaption class="figure-caption text-center"><h3><b>Rowland Hills Weddings and Events</b></h3></figcaption>
						<img src="{{ url_for('static', filename='Rowland Hills Weddings and Events.PNG') }}" alt="Rowland Hills Weddings and Events" class="img-responsive img-rounded image-border">
					</a>
				</figure>
				<figure class="figure col-sm-4">
					<a href="https://leecodya.github.io/buttercup" target="_blank">
						<figcaption class="figure-caption text-center"><h3><b>Buttercup Cleaning Service</b></h3></figcaption>
						<img src="{{ url_for('static', filename='Buttercup-Cleaning.png') }}" alt="Buttercup Cleaning" class="img-responsive img-rounded image-border">
					</a>
				</figure>
			</div> <!--end row-->
		</div>		
	</div>
	<br>
	<br>
	<!--ContactForm Section-->
	<div class="contact bg-light">
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<h1 class="center"><u>Contact Me</u></h1>
						<form method="POST" action="https://formspree.io/lee.codya@gmail.com" target="_blank">
							<input type="hidden" name="_subject" value="Contact Form submission!" />
							<input type="email" name="_replyto" placeholder="Email" required><br>
							<input type="text" name="Name" placeholder="Name" required><br>
							<input type="text" name="Number" placeholder="Your number" required><br>
							<textarea name="Message" placeholder="Message" style="height:100px;" required></textarea><br>
							<input type="submit" value="Submit">
						</form>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}