{% extends 'index.htm' %}
{% block title %}Projects{% endblock %}

{% block content %}
<div id="projects" class="tab-pane fade in">
	<div class="projects">
		<fieldset>
			<legend><h1 style="font-size:220%">PROJECTS</h1></legend>
			<div class="container">
				<!-- <h2>Live Sites</h2>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="thumbnail">
							<a href="https://www.mga.edu/cyberconference2017" target="_blank">
								<h3>Academic Cyber Conference</h3>
								<img src="img/Cyber-Conference.png" alt="Academic Cyber Conference" class="image">
								<div class="caption">
									<p>I planned and developed an interactive website, using knowledge of HTML and CSS, to advertise the free public Academic Cyber Conference and provided important information, such as the conference schedule and short biographies of all guest speakers to prospective attendees.</p>
								</div>
							</a>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="thumbnail">
							<a href="http://impactfitnesswrga.com" target="_blank">
								<h3>Impact Fitness</h3>
								<div class="caption">
									<p>With this project, I was able to develop functional and responsive website materials using WordPress. This website utilizes materials from the owners that informs end-users of the purpose and unique qualities of the business, such as weekly workout videos and training schedules.</p>
								</div>
								<img src="/img/Impact-Fitness.png" alt="Impact Fitness" class="image">
							</a>
						</div>
					</div>
				</div> -->
				<h2>Separate Projects</h2>
				<div class="row">					
					<div class="col-md-4 col-sm-6">
						<div class="thumbnail">
							<a href="https://leecodya.github.io/MJs" target="_blank">
								<h3>MJs Simple Moving</h3>
								<img src="img/MJs.JPG" alt="MJs" class="image">
								<div class="caption">
									<p>This project is a work in progress and embodies all that I know with HTML, CSS, Bootstrap, UI/UX design. This project not only enhanced my HTML, CSS, and Responsive design skills, but it gave me a better understanding of the significance of UX design. This is definitely my most intuitive site.</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="thumbnail">
							<a href="https://baileys-site.herokuapp.com/" target="_blank">
								<h3>Bailey's</h3>
								<img src="img/baileys-site.PNG" alt="Bailey's" class="image">
								<div class="caption">
									<p>This is my most recent project and is still a work in progress. This site is serving as my first fully functioning website made with Python Flask. In this site, I have been able to develop a fully capable website with a mix of having free-reign creatively and certain requirements from the business owner. It has allowed me to sharpen my current UX and UI design techniques.</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="thumbnail">
							<a href="http://leecodya.github.io/Theus" target="_blank">
								<h3>Theus Floor Covering</h3>
								<img src="img/Theus-Floor-Covering.JPG" alt="Theus Floor Covering" class="image">
								<div class="caption">
									<p>Theus Floor Covering's website was one of my most favorite to make. It allowed me to sharpen my skills of HTML, CSS, and Bootstrap, mainly pertaining to the Grid System. I was also able to incorporate new skills I learned in JavaScript and AngularJS to utilize AngularJS routing techniques.</p>
								</div>
							</a>
						</div>
					</div>
				</div><!--end row-->
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="thumbnail">
							<a href="https://rowland-hills.herokuapp.com/" target="_blank">
								<h3>Rowland Hills Weddings and Events</h3>
								<img src="img//Rowland Hills Weddings and Events.PNG" alt="Rowland Hills Weddings and Events" class="image">
								<div class="caption"></div>
							</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="thumbnail">
							<a href="https://leecodya.github.io/buttercup/" target="_blank">
								<h3>Buttercup Cleaning Service</h3>
								<img src="img/Buttercup-Cleaning.png" alt="Buttercup Cleaning" class="image">
								<div class="caption">
									<p>This is one of my older projects but has recently had a makeover. Before, this site was using a HTML, CSS, and JS template as its sole structure. Now, it has been modified to have a better UI design, better UX design, and utilize Bootstrap as its CSS framework. These changes allow for a completely responsive, user-friendly website that informs the user of the services offered, work done for previous customers, and contact information.</p>
								</div>
							</a>
						</div>
					</div>
					<!-- <div class="col-md-4 col-sm-6">
						<div class="thumbnail">
							<a href="https://leecodya.github.io/KMD" target="_blank">
								<h3>Keith McDonald Plumbing</h3>
								<img src="img/KMP.png" alt="KMP" class="image">
								<div class="caption">
									<p>With given criteria and requirements from the professor, I was able to utilize my working knowledge of HTML and CSS to create a user-friendly website that informs the user of the services offered, a list of ongoing projects, and contact information. I learned key skills such as hovers, link integration, and image placement.</p>
								</div>
							</a>
						</div>
					</div> -->
				</div><!--end row-->
			</div>
		</fieldset>
	</div>
</div>
{% endblock %}