{% extends 'index.htm' %}
{% block title %}Services{% endblock %}

{% block content %}
<div id="services" class="tab-pane fade in">
    <div class="services">
        <fieldset>
            <legend><h1 style="font-size:220%">SERVICES OFFERED</h1></legend>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 center">
                        <h1>Designer</h1>
                        <hr>
                        <h3 class="left">I make serious efforts to develop properly crafted experiences and web designs for each of my clients. Whether a client completely hands over the reins or wants to have input in their project, I make sure to put on my creative cap in order to give you the site you want and need!</h3>
                    </div>                        
                    <div class="col-md-6 center">
                        <h1>Developer</h1>
                        <hr>
                        <h3 class="right">Your website shall be grounded on a responsive interface. Making your website responsive entails incorporating multiple websites into a single web panel. This type of condensed integration of multiple websites into one will help to trim down your managerial costs in lieu of managing multiple websites. Thus, this unique integration will make your website responsive on all platforms like mobile devices and browsers.</h3>
                    </div>                        
                    <!-- <div class="col-md-4 right">
                        <h1>Marketer</h1>
                        <hr>
                        <h3>You will not find a more transparent SEO Service that can help you to increase your visibility in the top search results. I have a working knowledge of modern digital marketing strategies in order to get your business represented on major social media sites, such as Facebook, Instagram, and email!</h3>
                    </div>                         -->
                </div>
            </div>
        </fieldset>
        <div class="container" style="background-color:rgba(43,43,43,.85); color:white; padding:3em">
            <div class="row" style="margin-bottom:2em">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 class="strong center" style="font-size:400%">Steps to get your website done!</h1>
                    <hr>
                </div>
                <div class="col-md-2"></div>
            </div>
            <!--Step 1-->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 col-md-push-5 step-num center">
                    <h2><strong>Step 1:</strong><br> Consultation / Goal Setting</h2>
                </div>
                <div class="col-md-5 col-md-pull-5 step-desc center">
                    <h3><p>The first step is to schedule a meeting via face-to-face, phone or Skype. Think of this as the getting to know you phase. This allows me to get to know your goals and your business.</p></h3>                    
                </div>
                <div class="col-md-1"></div>
            </div>
            <!--Step 2-->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 step-num center">
                    <h2><strong>Step 2: </strong><br>Site Architecture / Sitemap</h2>
                </div>
                <div class="col-md-5 step-desc center">
                    <h3><p>Based on our first meeting, I will submit a proposal that outlines my recommendations for the pages of your website. This will include details regarding the hierarchical structure and navigational ordering of the website's pages. </p></h3>                    
                </div>
                <div class="col-md-1"></div>
            </div>
            <!--Step 3-->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 col-md-push-5 step-num center">
                    <h2><strong>Step 3:</strong><br> Wireframing</h2>
                </div>
                <div class="col-md-5 col-md-pull-5 step-desc center">
                    <h3><p>Once the proposal for the sitemap is approved, I will check to see if there are any design or functionality requests that you would like to have incorporated into the site. After this, i get started on a few composite sketches of the site that outlines the basic look and feel of the website. I will submit for approval before proceeding.</p></h3>                    
                </div>
                <div class="col-md-1"></div>
            </div>
            <!--Step 4-->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 step-num center">
                    <h2><strong>Step 4:</strong><br>Initial Design Mock-ups and Revisions</h2>
                </div>
                <div class="col-md-5 step-desc center">
                    <h3>
                        <p>This is when I get creative as a freelance web designer. A composite sketch is transferred from pen & paper form to Adobe Photoshop. The design mockup is presented to the client in Photoshop format. </p>
                        <p>I provide a link for the client to view the mockup and to provide feedback to me. In some circumstances, there may be more than one version of the design and logos. I depend on our client's input at this stage, as it has been called for moving forward for completion</p>
                    </h3>                    
                </div>
                <div class="col-md-1"></div>
            </div>
            <!--Step 5-->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 col-md-push-5 step-num center">
                    <h2><strong>Step 5:</strong><br> Coding the Design</h2>
                </div>
                <div class="col-md-5 col-md-pull-5 step-desc center">
                    <h3><p>Once the Photoshop mockup is approved, I then code it into a fully functional website using programming languages such as HTML, CSS, JavaScript, Bootstrap, and AngularJS. It will be a responsive website, which is mobile device, smartphone, tablet friendly. This means that the website is readily view of all multiple screen sizes.</p></h3>                    
                </div>
                <div class="col-md-1"></div>
            </div>
            <!--Step 6-->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 step-num center">
                    <h2><strong>Step 6:</strong><br>Approval and Launch</h2>
                </div>
                <div class="col-md-5 step-desc center">
                    <h3><p>Upon completion and approval of the new website, it will be launched onto its domain. Once live, I will submit a site map to Google.</p></h3>                    
                </div>
                <div class="col-md-1"></div>
            </div>
            <!--Step 7-->
            <!-- <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 col-md-push-5 step-num center">
                    <h2><strong>Step 7:</strong><br>Ongoing Analysis and Edits</h2>
                </div>
                <div class="col-md-5 col-md-pull-5 step-desc center">
                    <h3><p>Each one of my clients receives two hours of post-launch updates included in the contract. After that, any further work or development of new features (if needed) will be billed at a discounted hourly rate for the initial 1st year. After one year, further development, if needed, is billed at our regular hourly rate. This one year long discounted support is meant to help clients in the implementation of their business ideas to their full potential. </p></h3>                    
                </div>
                <div class="col-md-1"></div>
            </div> -->
        </div>
        <div class="container" style="padding:3em">
            <div class="row" style="margin-bottom:2em">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 class="strong center" style="font-size:400%"><strong>Services</strong> I am Best At</h1>
                    <hr>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h1 class="left"><button class="service-button" href="#demo" data-toggle="collapse" data-target="#demo"><strong>Bespoke</strong> Web Design</button></h1>
                    <hr>
                    <div id="demo" class="collapse">
                        <h3><strong>I offer truly bespoke web design services. I pay special attention to each client's brand, making them marketable at their web design appealing. This results in optimal branding for the client. The purpose of friendliness to stand out amongst competitors. It's meant to personalize your company's image. In order to simplify this, I highly recommend investing in my custom website design services.</strong></h3>   
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 class="center"><button class="service-button" href="#demo2" data-toggle="collapse" data-target="#demo2"><strong>Responsive</strong> Web Design</button></h1>
                    <hr>
                    <div id="demo2" class="collapse">
                        <h3 class="center"><strong>Because of the rapidly increasing use of mobile devices, my web designs are created as responsive website designs. Starting with design mockups, the code I use translates across all mobile devices and browsers. The code I write is clean, and effective. The end result is a fast loading and visually appealing website.</strong></h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 class="center"><button class="service-button" href="#demo3" data-toggle="collapse" data-target="#demo3"><strong>Single </strong>Page Application</button></h1>
                    <hr>
                    <div id="demo3" class="collapse">
                        <h3 class="center"><strong>With websites getting more complex, I always make sure to incorporate AngularJS into my websites. Why Angular? In a simplified version, AngularJS makes the website faster by implementating its single page application methods. Single-page applications are web applications that load a single HTML page and dynamically update that page as the user interacts with the app. SPAs use AJAX and HTML5 to create fluid and responsive web apps, without constant page reloads making the website much faster. </strong></h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 class="right"><button class="service-button" href="#demo4" data-toggle="collapse" data-target="#demo4">Stunning Web <strong>Graphics</strong></button></h1>
                    <hr>
                    <div id="demo4" class="collapse">
                        <h3 class="right"><strong>In today's visual world, it's imperative to have quality graphics on your website. I ensure that the graphics I use don't slow your website down, but rather enhance the visual experience for your customers.</strong></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}